body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* home.cards */
.cardDiv {
  max-width: 900px;
}

/* cards explore button */
.explore-btn {
  border-radius: 25px;
}

/* footer */
.footer {
  background-color: #0F3D3E;
}

.footer-icon {
  color: aliceblue;
  font-size: 20px;
}

.footer-icon:hover {
  color: aliceblue;
}

.footer-text {
  color: aliceblue;
}

/* text-colors */
.text-white{
  color: aliceblue;
}

/* Carousal */
#carouselExampleIndicators{
  height: 50vh;
}

.carousel-inner{
  height: 50vh;
}

.carousel-item{
  height: 50vh;
}

/* About */
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
  }

  .about-img img{
      width: 400px;
  }

  .about-img{
    position: relative;
  }

  .about-img::after{
    content: '';
    height: 340px;
    width: 232px;
    background: lightgoldenrodyellow;
    position: absolute;
    bottom: 25px;
    left: 20px;
    border-radius: 0.5rem;
    z-index: -1;
  }

  .about-text h2{
    font-size: 1.4rem;
  }

  .about-text p{
    text-align: justify;
    margin: 1rem 0 ;
  }
  
  .features{
    display: grid;
    row-gap: 0.8rem;
  }

  .features i{
    display: flex;
    text-align: center;
    font-size: 18px;
    color: lightgray;
      }

      .features span{
        margin-left: 1rem;
        color: lightcoral;
        font: 0.9rem;
      }

      .about-h2{
        text-align: justify;
        font-size: 30px;
        color: lightsalmon;
      }
      .about-h1{
        text-align: justify;
        font-size: 17px;
        color: lightslategray;
      margin-top: 20px;
      }

      .about-h3, .about-h4{
        margin-top: 20px ;
        text-align: justify;
        font-size: 20px;
        color: gray;
      }

      