body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* root */
.primary-color{
  background-color: #0F3D3E
}
.text-white{
  color: aliceblue;
}
.primary-text{
  color: #0F3D3E;
}
.vh-6{
  height: 60vh
}
.vh-2{
  height: 20vh;
}
.static{
  position: absolute;
}
.max-width-1600{
  max-width: 1600px;
}

/* home.cards */
.cardDiv {
  max-width: 900px;
}

/* cards explore button */
.explore-btn {
  border-radius: 25px;
}

/* footer */
.footer {
  background-color: #0F3D3E;
}

.footer-icon {
  color: aliceblue;
  font-size: 20px;
}

.footer-icon:hover {
  color: aliceblue;
}

.footer-text {
  color: aliceblue;
}

/* text-colors */


/* About */
.image{
  
}

.image-div{
  
}