@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Licorice&family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
  margin: 0;
  font-family:'Play', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* root */
/* .primary-color{
  background-color: #0F3D3E
} */
.primary-color{
  background-color: rgba(255, 234, 0, 0.84);
  /* background: linear-gradient(to bottom, rgba(255, 234, 0, 0.84), #000000d4); */
}

.primary-color2{
  background: linear-gradient(to top, rgba(255, 234, 0, 0.84), yellow);
}
.text-white{
  color: aliceblue;
}
.text-dark{
  color: #000000;
}
.title{
  font-size: 80px;
  font-weight: 500;
}
.subtitle{
  font-size: 20px;
}
.logo{
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.806));
}
.primary-text{
  color: #000000;
}
.vh-6{
  height: 60vh
}
.vh-10{
  height: 100vh;
}
.static{
  position: absolute;
}
.max-width-1600{
  max-width: 1600px;
}
.max-width-900{
  max-width: 900px;
}
.max-width-1200{
  max-width: 1200px;
}
.bg-orange{
  background-color: orange;
}